* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
}

body {
    width: 100%;
    height: auto;
    background-image: url(/img/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    overflow: auto;
}

body::-webkit-scrollbar {

    display: none;
}

header {

    width: 100%;
    height: auto;
    min-height: 120px;
    background-color: rgba(255, 255, 255, 0.822);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo {
    width: max(250px, 10vh);
    margin: 5px 5px;
    padding: 2px 2px;
    object-fit: cover;
    margin-left: 50px;
}


nav {

    width: 100%;
    max-width: 30vw;
    height: 70px;
    margin-right: 150px;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;

}

nav a {
    text-decoration: none;
}

nav li {

    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(244 148 190);

    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;
}



nav li:hover {

    color: rgb(250, 250, 250);
    background-color: rgb(244 148 190);


}

main {
    padding-top: 150px;
    width: 100%;
    height: auto;


}

.slider-frame {

    width: 80%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    border-radius: 15px;

}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {

    width: 100%;
    list-style: none;

}


.slider-frame img {
    width: 100%;


}

@keyframes slide {

    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.info {

    width: 100%;
    height: 700px;
    text-align: center;

    background-color: #1ed5c3a1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
}

.info h2 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin: 5px auto;



}

.info p {

    width: 100%;
    font-size: 1.5rem;

    color: rgb(255, 255, 255);
    margin: 10px auto;
    padding: 0 60px;
    font-weight: 700;

}

.button {

    width: auto;
    height: auto;
    margin: 2px 0;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    color: rgb(244 148 190);
    background: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

}

.button:hover {

    color: white;
    background: rgb(244 148 190);

}

.ubicacion {
    width: 90%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.info-ubi {

    width: 800px;
    text-align: center;
    margin: 0 50px;


}

.info-ubi img {

    width: 200px;
    cursor: pointer;
    animation: move 1s infinite alternate ease-in-out;
    position: relative;
    margin-bottom: 20px;


}

@keyframes move {

    from {
        top: 0px;
    }

    to {
        top: 20px;
    }


}

.info-ubi h2 {

    color: #1ed5c3;

    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 15px 0;

}

.info-ubi p {

    color: rgb(244 148 190);
    text-align: center;
    font-size: 1rem;
    font-weight: 700;

}



footer {
    width: 100%;
    height: 120px;
    background-color: rgb(244 148 190);
    display: flex;
    justify-content: space-between;
    align-items: center;


}

footer .social-media {

    width: 300px;
    display: flex;
    justify-content: space-evenly;

    margin-right: 50px;
}

footer .social-media img {

    width: 30px;

}

footer .social-media h2 {

    color: #ffffff;


}


address {
    font-size: .7rem;
    color: #ffffff;
    width: auto;

    margin-left: 50px;

}

address a {
    font-size: 1rem;
    text-decoration: none;
    color: #1ed5c3;
    align-self: flex-start;


}


@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

    header {


        position: static;


        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    #logo {
        width: max(250px, 10vh);
        margin: 15px 0 5px 0;
        padding: 0px 0px;
        object-fit: cover;

    }


    nav {


        margin: 0 2px
    }




    nav li {


        font-size: .8rem;
        padding: 2px 10px;

    }



    nav li:hover {

        color: rgb(250, 250, 250);
        background-color: rgb(244 148 190);


    }

    main {
        padding: 2px;
        width: 100%;
        height: auto;


    }

    .info {


        height: 500px;
        margin: 20px auto;
        padding: 50px 0 20px 0;
    }

    .info h2 {
        font-size: .9rem;
        margin: 2px auto;
        padding: 0;

    }

    .info p {

        font-size: .8rem;
        margin: 2px auto;
        padding: 0;
    }

    .button {


        font-size: .8rem;


    }



    .ubicacion {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;


    }

    .info-ubi {

        width: 100%;
        text-align: center;
        margin: 0 50px;


    }

    .info-ubi img {

        width: 100px;




    }



    .info-ubi h2 {

        font-size: 1rem;
        margin: 15px 0 15px 0;

    }

    .info-ubi p {


        font-size: .8rem;


    }

    #map {

        width: 300px;
        height: 225px;

    }

    footer .social-media {

        width: 180px;
        margin-right: 20px;
    }

    footer .social-media img {

        width: 20px;

    }

    footer .social-media h2 {

        color: #ffffff;
        font-size: .6rem;

    }


    address {
        font-size: .5rem;
        margin-left: 10px;

    }

    address a {
        font-size: .8rem;

    }
}